# Скопируйте этот файл в .env и заполните данными

# --- Настройки PostgreSQL ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=24092002
POSTGRES_DB=timescale_data_db
POSTGRES_HOST=postgres

# --- Настройки ASP.NET Core ---
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Host=${POSTGRES_HOST};Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
